{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}
      <div class="jumbotron bg-light">
      <h1 class="display-5">Track Your Learning</h1>
      <p class="lead">Make your own Learning Log, and keep a list of the
            topics you're learning about. Whenever you learn something new
            about a topic, make an entry summarizing what you've learned.</p>
      <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>
      </div>


{% endblock page_header %}
